[submodule "submodules/premake-cmake"]
	path = submodules/premake-cmake
	url = https://github.com/Jarod42/premake-cmake.git
[submodule "submodules/premake-codeblocks"]
	path = submodules/premake-codeblocks
	url = https://github.com/Jarod42/premake-codeblocks.git
[submodule "submodules/premake-ninja"]
	path = submodules/premake-ninja
	url = https://github.com/jimon/premake-ninja.git
