name: premake5-ubuntu-codelite

on:
  workflow_call:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  workflow_dispatch:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  push:
    paths:
      - 'projects/**'
      - 'codelite/**'
      - '.github/workflows/premake5-ubuntu-codelite.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_codelite'
      - 'projects/**/unsupported_by_premake5_codelite'

  pull_request:
    paths:
      - 'projects/**'
      - 'codelite/**'
      - '.github/workflows/premake5-ubuntu-codelite.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_codelite'
      - 'projects/**/unsupported_by_premake5_codelite'

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        runner: ['ubuntu-latest', 'ubuntu-24.04-arm']

    runs-on: ${{matrix.runner}}

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: install premake5
      if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: install premake5
      if: ${{ github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: ${{ inputs.premake-repo }}
          ref: ${{ inputs.premake-ref }}

    - name: apt-get update
      run: sudo apt-get update -y

    - name: sudo apt-get install -y codelite
      run: sudo apt-get install -y codelite

    - name: codelite --version
      run: xvfb-run -a codelite --version || exit 0 # codelite --version returns -1

    - name: test projects default(clang)
      run: python3 ./test_projects.py premake5 projects codelite

    - name: test projects gcc
      run: python3 ./test_projects.py premake5 projects codelite --cc=gcc

    - name: test projects clang
      run: python3 ./test_projects.py premake5 projects codelite --cc=clang
