name: premake5-windows-ninja-core

on:
  workflow_call:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  workflow_dispatch:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  push:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-windows-ninja-core.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_ninja'
      - 'projects/**/unsupported_by_ninja_windows'
      - 'projects/**/unsupported_by_premake5_ninja'

  pull_request:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-windows-ninja-core.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_ninja'
      - 'projects/**/unsupported_by_ninja_windows'
      - 'projects/**/unsupported_by_premake5_ninja'

jobs:
  windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: install premake5
      if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: install premake5
      if: ${{ github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: ${{ inputs.premake-repo }}
          ref: ${{ inputs.premake-ref }}

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: install ninja
      uses: seanmiddleditch/gha-setup-ninja@v6

    - name: ninja --version
      run: ninja --version

    - name: Add cl.exe to PATH # microsoft/setup-msbuild doesn't add it :(
      uses: ilammy/msvc-dev-cmd@v1

#    - name: test projects default(msc-v142) # Visual Studio 2019 (version mismatch is not that important, only cl.exe is called)
#      run: |
#        #"C:\Program Files (x86)\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64
#        python3 ./test_projects.py premake5 projects ninja --scripts=`pwd` --shell=posix
#      shell: bash

    - name: test projects msc-v143 # Visual Studio 2022
      run: |
        #"C:\Program Files (x86)\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64
        python3 ./test_projects.py premake5 projects ninja --scripts=`pwd` --cc=msc-v143  --shell=posix
      shell: bash

#    - name: test projects gcc
#      run: |
#        python3 ./test_projects.py premake5 projects ninja --scripts=`pwd` --cc=gcc  --shell=posix
#      shell: bash
