name: premake5-windows-gmake

on:
  workflow_dispatch:
  push:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-windows-gmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake'
      - 'projects/**/unsupported_by_gmake_windows'
      - 'projects/**/unsupported_by_premake5_gmake'

  pull_request:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-windows-gmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake'
      - 'projects/**/unsupported_by_gmake_windows'
      - 'projects/**/unsupported_by_premake5_gmake'

jobs:
  windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: install premake5
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: test projects
      run: |
        python3 ./test_projects.py premake5 projects gmake --shell=posix
      shell: bash

#    - name: test projects
#      run: |
#        python3 ./test_projects.py premake5 projects gmake
#      shell: cmd
