name: premake5-ubuntu-cmake

on:
  workflow_call:
  workflow_dispatch:
  push:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-ubuntu-cmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_cmake'
      - 'projects/**/unsupported_by_premake5_cmake'
      - 'submodules/premake-cmake'

  pull_request:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-ubuntu-cmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_cmake'
      - 'projects/**/unsupported_by_premake5_cmake'
      - 'submodules/premake-cmake'

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        runner: ['ubuntu-latest', 'ubuntu-24.04-arm']

    runs-on: ${{matrix.runner}}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: install premake5
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: cmake --version
      run: cmake --version

    - name: add premake cmake module
      run: |
        echo "require 'submodules/premake-cmake/cmake'" >> premake-system.lua

    - name: test projects
      run: python3 ./test_projects.py premake5 projects cmake --scripts=`pwd`
