name: premake5-ubuntu-gmake2

on:
  workflow_dispatch:
  push:
    paths:
      - 'projects/project-*/**'
      - '.github/workflows/premake5-ubuntu-gmake2.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake2'
      - 'projects/**/unsupported_by_premake5_gmake2'

  pull_request:
    paths:
      - 'projects/project-*/**'
      - '.github/workflows/premake5-ubuntu-gmake2.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake2'
      - 'projects/**/unsupported_by_premake5_gmake2'

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: install premake5
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: make --version
      run: make --version

    - name: test projects default(gcc)
      run: PATH=$PATH:`pwd` python3 ./test_projects.py premake5 projects gmake2

    - name: test projects gcc
      run: PATH=$PATH:`pwd` python3 ./test_projects.py premake5 projects gmake2 --cc=gcc

    - name: test projects clang
      run: PATH=$PATH:`pwd` python3 ./test_projects.py premake5 projects gmake2 --cc=clang
