name: premake5-qt-mac-xcode4

on:
  workflow_call:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  workflow_dispatch:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  push:
    paths:
      - 'projects-qt/**'
      - '.github/workflows/premake5-qt-mac-xcode4.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects-qt/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects-qt/**/unsupported_by_xcode4'
      - 'projects-qt/**/unsupported_by_premake5_xcode4'
      - 'submodules/premake-qt'

  pull_request:
    paths:
      - 'projects-qt/**'
      - '.github/workflows/premake5-qt-mac-xcode4.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects-qt/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects-qt/**/unsupported_by_xcode4'
      - 'projects-qt/**/unsupported_by_premake5_xcode4'
      - 'submodules/premake-qt'

jobs:
  mac:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        qt-version: ['6.9.0']

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: install premake5
      if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: install premake5
      if: ${{ github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: ${{ inputs.premake-repo }}
          ref: ${{ inputs.premake-ref }}

    - name: Installing Qt${{matrix.qt-version}} macos
      uses: jurplel/install-qt-action@v4
      with:
        version: ${{matrix.qt-version}}
        cache: true
        cache-key-prefix: 'qt-action@4-Qt${{matrix.qt-version}}_macos'

    - name: set environment variable
      run: |
        echo QT_DIR=$QT_ROOT_DIR 
        echo QT_DIR=$QT_ROOT_DIR  >> $GITHUB_ENV

    #- name: install libxkbcommon-x11-0 # display dependency
    #  run: sudo apt-get install libxkbcommon-x11-0

    - name: test projects default(clang)
      run: |
        # Cannot use environment variable ($QT_ROOT_DIR ) in command line, so use environment variable (QT_DIR) or its hardcoded value
        python3 ./test_projects.py premake5 projects-qt xcode4 --scripts=`pwd` --qt-version=${{ matrix.qt-version }}

    - name: test projects gcc
      run: |
        # Cannot use environment variable ($QT_ROOT_DIR ) in command line, so use environment variable (QT_DIR) or its hardcoded value
        python3 ./test_projects.py premake5 projects-qt xcode4 --scripts=`pwd` --qt-version=${{ matrix.qt-version }} --cc=gcc

    - name: test projects clang
      run: |
        # Cannot use environment variable ($QT_ROOT_DIR ) in command line, so use environment variable (QT_DIR) or its hardcoded value
        python3 ./test_projects.py premake5 projects-qt xcode4 --scripts=`pwd` --qt-version=${{ matrix.qt-version }} --cc=clang
