name: premake5-mac-xcode4

on:
  workflow_dispatch:
  push:
    paths:
      - 'projects/project-*/**'
      - '.github/workflows/premake5-mac-xcode4.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_xcode4'
      - 'projects/**/unsupported_by_premake5_xcode4'

  pull_request:
    paths:
      - 'projects/project-*/**'
      - '.github/workflows/premake5-mac-xcode4.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_xcode4'
      - 'projects/**/unsupported_by_premake5_xcode4'

jobs:
  mac:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: checkout premake5
      uses: actions/checkout@v3
      with:
          repository: premake/premake-core
          path: premake-build

    - name: Build premake5
      run: |
        cd premake-build
        make -f Bootstrap.mak osx CONFIG=release
        cp bin/release/premake5 ../
        cd ..
        rm -Rf premake-build

    - name: test projects default(clang)
      run: PATH=$PATH:`pwd` python3 ./test_projects.py premake5 projects xcode4

    - name: test projects gcc
      run: PATH=$PATH:`pwd` python3 ./test_projects.py premake5 projects xcode4 --cc=gcc

    - name: test projects clang
      run: PATH=$PATH:`pwd` python3 ./test_projects.py premake5 projects xcode4 --cc=clang
