name: premake5-windows-gmake

on:
  workflow_call:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  workflow_dispatch:
    inputs:
      premake-repo:
        default: 'premake/premake-core'
        type: string
      premake-ref:
        default: ''
        type: string
  push:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-windows-gmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake'
      - 'projects/**/unsupported_by_gmake_windows'
      - 'projects/**/unsupported_by_premake5_gmake'

  pull_request:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-windows-gmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake'
      - 'projects/**/unsupported_by_gmake_windows'
      - 'projects/**/unsupported_by_premake5_gmake'

jobs:
  windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: install premake5
      if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: install premake5
      if: ${{ github.event_name == 'workflow_call' || github.event_name == 'workflow_dispatch' }}
      uses: ./.github/actions/install-premake5
      with:
          repository: ${{ inputs.premake-repo }}
          ref: ${{ inputs.premake-ref }}

    - name: test projects
      run: |
        python3 ./test_projects.py premake5 projects gmake --shell=posix
      shell: bash

#    - name: test projects
#      run: |
#        python3 ./test_projects.py premake5 projects gmake
#      shell: cmd
