name: premake5-ubuntu-qmake

on:
  workflow_call:
  workflow_dispatch:
  push:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-ubuntu-qmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_qmake'
      - 'projects/**/unsupported_by_premake5_qmake'
      - 'submodules/premake-qmake'

  pull_request:
    paths:
      - 'projects/**'
      - '.github/workflows/premake5-ubuntu-qmake.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_qmake'
      - 'projects/**/unsupported_by_premake5_qmake'
      - 'submodules/premake-qmake'

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        runner: [ 'ubuntu-latest' ] # 'ubuntu-24.04-arm'


    runs-on: ${{ matrix.runner }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: install premake5
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: add premake qmake module
      run: |
        echo "require 'submodules/premake-qmake/qmake'" >> premake-system.lua

    - name: Installing Qt5.15.0 ubuntu
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.15.0'
        cache: true
        cache-key-prefix: 'qt-action-5.15.0_ubuntu'

    - name: test qmake
      run: qmake --version

    - name: test projects default(gcc)
      run: python3 ./test_projects.py premake5 projects qmake --scripts=`pwd`

    - name: test projects gcc
      run: python3 ./test_projects.py premake5 projects qmake --scripts=`pwd` --cc=gcc

    - name: test projects clang
      run: python3 ./test_projects.py premake5 projects qmake --scripts=`pwd` --cc=clang
