name: premake5-windows-gmake2

on:
  workflow_dispatch:
  push:
    paths:
      - 'projects/project-*/**'
      - '.github/workflows/premake5-windows-gmake2.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake2'
      - 'projects/**/unsupported_by_gmake2_windows'
      - 'projects/**/unsupported_by_premake5_gmake2'
      - 'submodules/premake-gmake2'

  pull_request:
    paths:
      - 'projects/project-*/**'
      - '.github/workflows/premake5-windows-gmake2.yml'
      - '.github/actions/install-premake5/action.yml'
      - '!**/*.md'
      - '!projects/**/unsupported_by_*'
      - '!**/premake4.lua'
      - 'projects/**/unsupported_by_gmake2'
      - 'projects/**/unsupported_by_gmake2_windows'
      - 'projects/**/unsupported_by_premake5_gmake2'
      - 'submodules/premake-gmake2'

jobs:
  windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: install premake5
      uses: ./.github/actions/install-premake5
      with:
          repository: premake/premake-core

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: test projects
      run: |
        echo $PATH
        PATH=$PATH:`pwd` python3 ./test_projects.py premake5 projects gmake2 --shell=posix
      shell: bash

#    - name: test projects
#      run: |
#        echo %PATH%
#        set PATH=%PATH%;`pwd`
#        python3 ./test_projects.py premake5 projects gmake2
#      shell: cmd
